.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: skyblue;
}

table {
  color: crimson;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 500px;
  background: tan;
}

.header-row {
    background: #34495E;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}